@import "./components/globals";

.menu {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 60px;
  font-size: 14px;
  &__logo {
    text-transform: uppercase;
    color: $brand-color;
    margin-right: 25px;
  }
  ul {
    display: flex;
    list-style: none;
  }
  &__primary li {
    margin-left: 20px;
  }
  &__secondary {
    position: absolute;
    right: 60px;
  }
}

.carrousel {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-gap: 20px;
  &__item {
  }
  &__item img {
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-radius: 3px;
  }
}

.footer {
  max-width: 980px;
  margin: 20px auto 0;
  padding: 0 4%;
  color: gray;
  &__social {
    ul {
      display: flex;
      list-style: none;
    }
  }
  &__links {
    font-size: 1.3rem;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    li {
      margin-bottom: 1rem;
      flex: 0 0 25%;
    }
  }
}