@import './components/globals';

.header {
  position: sticky;
  top: 0;
  z-index: 10;
  &.dark {
    background-color: $primay-color;
    transition: background-color 0.5s ease;
  }
}

.menu {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 0 60px;
  font-size: 14px;
  a {
    text-decoration: none;
  }
  &__logo {
    text-transform: uppercase;
    color: $brand-color;
    margin-right: 25px;
  }
  ul {
    display: flex;
    list-style: none;
    align-items: center;
  }
  &__primary li {
    margin-left: 20px;
  }
  &__secondary {
    position: absolute;
    right: 60px;
    font-size: 2.2rem;
    li {
      position: relative;
      margin-right: 20px;
      &.search-box {
        position: relative;
        width: 250px;
        .search-box__icon {
          position: absolute;
          top: 7px;
          z-index: 10;
          cursor: pointer;
          transition: ease transform 1s;
          transition-delay: 50ms;
          right: 0;
        }
        .search-box__input {
          outline: none;
          background: transparent;
          border: solid 1px rgba(255, 255, 255, 0.85);
          padding: 1rem;
          padding-left: 4rem;
          font-size: 1.3rem;
          color: $secondary-color;
          width: 0%;
          transition: ease-out width 1s, ease opacity 1s;
          opacity: 0;
        }
        &.active {
          .search-box__icon {
            transform: translateX(-214px);
          }
          .search-box__input {
            opacity: 1;
            width: 100%;
          }
        }
      }
      .badge {
        background-color: $brand-color;
        display: flex;
        font-size: 1rem;
        border-radius: 50%;
        height: 1.6rem;
        width: 1.6rem;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: -5px;
      }
      &.user {
        position: relative;
        background-color: orange;
        height: 3.5rem;
        width: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0.5rem;
        .arrow {
          position: absolute;
          right: -2rem;
        }
      }
    }
  }
}

.wrapper {
  padding: 0 60px;
}

.hero {
  // background-image: url('https://images.unsplash.com/photo-1485846234645-a62644f84728?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1340&q=80');
  // background-size: cover;
  // background-repeat: no-repeat;
  // background-position: center;
  height: 100vh;
  margin-top: -7rem;
  &__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    iframe {
      width: 100vw;
      height: 56.25vw;
      position: absolute;
    }
  }
  .wrapper {
    background: linear-gradient(
      to bottom,
      black 0,
      transparent,
      transparent,
      transparent,
      transparent
    );
    display: flex;
    height: 100vh;
  }
  .info {
    position: absolute;
    bottom: 7rem;
    width: 560px;
  }
  &__description {
    font-size: 2.6rem;
    margin-bottom: 2rem;
  }
  button {
    padding: 1.2rem 2rem;
    font-size: 2rem;
    font-weight: 600;
    border: 0;
    border-radius: 0.3rem;
    margin-right: 1.6rem;
    i {
      margin-right: 1.6rem;
    }
  }
  .hero__more-info {
    opacity: 0.7;
  }
}

.general-content {
  display: flex;
  align-items: center;
  position: relative;
  button {
    position: absolute;
    border: none;
    background: rgba(0, 0, 0, 0);
    font-size: 40px;
    height: 50%;
    top: calc(50% - 25%);
    line-height: 40px;
    width: 50px;
    color: rgba(255, 255, 255, 0);
    cursor: pointer;
    z-index: 500;
    transition: 0.2s ease all;
    &.left-arrow {
      left: 0;
      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
        color: rgba(255, 255, 255, 0.9);
        z-index: 1000;
      }
    }
    &.right-arrow {
      right: 0;
      &:hover {
        background-color: rgba(0, 0, 0, 0.9);
        color: rgba(255, 255, 255, 0.9);
        z-index: 1000;
      }
    }
  }
  .carrousel-content {
    width: 100%;
    padding: 20px 0;
    overflow: hidden;
    scroll-behavior: smooth;
    .carrousel {
      display: flex;
      flex-wrap: nowrap;
      gap: 1rem;
      &__item {
        min-width: 20%;
        transition: 0.3s ease all;
        position: relative;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        font-size: 1vw;
        img {
          width: 100%;
          height: 180px;
          object-fit: cover;
          border-radius: 3px;
        }
        &:hover {
          transform: scale(1.2);
          transform-origin: center;
          z-index: 100;
        }
        & .overlay {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 1;
          & .play-button {
            height: 50%;
            & .fa-play-circle {
              position: absolute;
              top: 40%;
              left: 50%;
              transform: translate(-50%, -50%);
              translatey: (-50%);
              font-size: 3vw;
              color: #ffffff;
            }
          }
          & .description {
            position: absolute;
            padding-left: 3%;
            padding-bottom: 3%;
            overflow: hidden;
            bottom: 0;
          }
        }
      }
    }
  }
}

.footer {
  max-width: 980px;
  margin: 20px auto;
  padding: 0 4%;
  color: gray;
  font-size: 1.2rem;
  a {
    color: gray;
    text-decoration: none;
  }
  &__social {
    margin-bottom: 2rem;
    ul {
      display: flex;
      list-style: none;
      font-size: 3rem;
      i {
        margin-right: 2rem;
      }
    }
  }
  &__links {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    ul {
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    li {
      margin-bottom: 1rem;
      flex: 0 0 25%;
    }
  }
  &__copy-right {
    button {
      background-color: transparent;
      color: gray;
      border: 1px solid gray;
      padding: 0.7rem;
      margin-bottom: 2rem;
    }
  }
}
