section.continue.row
  .wrapper
    h3.popular__title Continuar viendo contenido de #{name}
    .general-content
      button.left-arrow.left-arrow-continues
        i.fas.fa-chevron-left
      .carousel-content.continues
        .carousel
          +item("https://image.tmdb.org/t/p/w342/6EiRUJpuoeQPghrs3YNktfnqOVh.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/9xjZS2rlVxm8SFx8kPC3aIGCOYQ.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/da22ZBmrDOXOCDRvr8Gic8ldhv4.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/rCzpDGLbOoPwLjy3OAm5NUPOTrC.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/yUqm7eke9oL0ZmKJfgIJLs8WNuJ.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/vzvKcPQ4o7TjWeGIn0aGC9FeVNu.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/l3peI54mf6Z9EBSvS3hnRmOBbFT.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/4cpGytCB0eqvRks4FAlJoUJiFPG.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/6WMmcLzVg1ud5xS4yY5ZtarGIZy.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/6wkfovpn7Eq8dYNKaG5PY3q2oq6.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/o0kre9wRCZz3jjSjaru7QU0UtFz.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/qJ2tW6WMUDux911r6m7haRef0WH.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/wuMc08IPKEatf9rnMNXvIDxqP4W.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/8ORuWcrYPgjwUDyCzr7qsOlCdwn.jpg", 'Lorem, ipsum dolor.')
      button.right-arrow.right-arrow-continues
        i.fas.fa-chevron-right