section.hero
  .hero__video
    iframe(src="https://player.vimeo.com/video/76979871?background=1&autoplay=1&loop=1&byline=0&title=0&controls=0", frameborder="0", height="100%", width="100%")
  .wrapper
    .info
      h3.hero__title Nº 6 en México hoy
      p.hero__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolorem voluptatum! Reiciendis at perspiciatis iste totam tempora?
      button.hero__play
        i.fas.fa-play
        | Reproducir
      button.hero__more-info
        i.fas.fa-info-circle
        | Mas información