section.hero
  h3.hero__title Nº 6 en México hoy
  p.hero__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque iure porro ea repellendus eligendi placeat optio reprehenderit incidunt, eveniet amet possimus, doloremque dolorem voluptatum! Reiciendis at perspiciatis iste totam tempora?
  button.hero__play Reproducir
  button.hero__more-info Mas información