section.hero
  .wrapper
    .info
      h3.hero__title Nº 6 en México hoy
      p.hero__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque dolorem voluptatum! Reiciendis at perspiciatis iste totam tempora?
      button.hero__play
        i.fas.fa-play
        | Reproducir
      button.hero__more-info
        i.fas.fa-info-circle
        | Mas información