.modal-overlay.open-modal
  .modal-container
    .dialog
      +itemModal("https://image.tmdb.org/t/p/original/fhQoQfejY1hUcwyuLgpBrYs6uFt.jpg", 'TV-G', 'Miniserie', 'HD')
      .info 
        .info__description
          span.clasification TV-G
          span.type Miniserie
          span.quality HD
          h4 Ver temporada 4
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim quis culpa facere nemo saepe, hic alias accusamus cum cupiditate odit officiis! Ratione deleniti iusto hic error nemo eos, odio sit.
        .info__tags
          p
            span.tag.people Elenco 
            | Richard Armitage, James Callis, Alejandra Reynoso, más
          p
            span.tag.gender Géneros 
            | Anime de terror, Anime basado en videojuegos, Anime de acción
          p
            span.tag.warning Este título es: 
            | Violento, De miedo, Siniestro
      .show
        .show__title
          h3 Episodios
          button#selectSeason
            | 2 temporadas
            i.fas.fa-chevron-down
        .show__seasons
          ul#listSeason
            li
              button#season1 Temporada 1
            li
              button#season2 Temporada 2
        .show__list
          ol#listSeason2.list__available.list__selected
            li
              .item__image
                i.fas.fa-play
                img(src="https://image.tmdb.org/t/p/w154/c2gsmSQ2Cqv8zosqKOCwRS0GFBS.jpg", alt="")
              .item__info
                .title__time 45 mins
                .title__show Lorem ipsum dolor, sit amet consectetur adipisicing.
                .description__show Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum natus harum adipisci, optio quia dolore ducimus.
            li
              .item__image
                i.fas.fa-play
                img(src="https://image.tmdb.org/t/p/w154/c2gsmSQ2Cqv8zosqKOCwRS0GFBS.jpg", alt="")
              .item__info
                .title__time 45 mins
                .title__show Lorem ipsum dolor, sit amet consectetur adipisicing.
                .description__show Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum natus harum adipisci, optio quia dolore ducimus.
            li
              .item__image
                i.fas.fa-play
                img(src="https://image.tmdb.org/t/p/w154/c2gsmSQ2Cqv8zosqKOCwRS0GFBS.jpg", alt="")
              .item__info
                .title__time 45 mins
                .title__show Lorem ipsum dolor, sit amet consectetur adipisicing.
                .description__show Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum natus harum adipisci, optio quia dolore ducimus.
            li
              .item__image
                i.fas.fa-play
                img(src="https://image.tmdb.org/t/p/w154/c2gsmSQ2Cqv8zosqKOCwRS0GFBS.jpg", alt="")
              .item__info
                .title__time 45 mins
                .title__show Lorem ipsum dolor, sit amet consectetur adipisicing.
                .description__show Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum natus harum adipisci, optio quia dolore ducimus.
            li
              .item__image
                i.fas.fa-play
                img(src="https://image.tmdb.org/t/p/w154/c2gsmSQ2Cqv8zosqKOCwRS0GFBS.jpg", alt="")
              .item__info
                .title__time 45 mins
                .title__show Lorem ipsum dolor, sit amet consectetur adipisicing.
                .description__show Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum natus harum adipisci, optio quia dolore ducimus.
          ol#listSeason1.list__available
            li
              .item__image
                i.fas.fa-play
                img(src="https://image.tmdb.org/t/p/w154/fhQoQfejY1hUcwyuLgpBrYs6uFt.jpg", alt="")
              .item__info
                .title__time 45 mins
                .title__show Lorem ipsum dolor, sit amet consectetur adipisicing.
                .description__show Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum natus harum adipisci, optio quia dolore ducimus.
            li
              .item__image
                i.fas.fa-play
                img(src="https://image.tmdb.org/t/p/w154/fhQoQfejY1hUcwyuLgpBrYs6uFt.jpg", alt="")
              .item__info
                .title__time 45 mins
                .title__show Lorem ipsum dolor, sit amet consectetur adipisicing.
                .description__show Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum natus harum adipisci, optio quia dolore ducimus.
            li
              .item__image
                i.fas.fa-play
                img(src="https://image.tmdb.org/t/p/w154/fhQoQfejY1hUcwyuLgpBrYs6uFt.jpg", alt="")
              .item__info
                .title__time 45 mins
                .title__show Lorem ipsum dolor, sit amet consectetur adipisicing.
                .description__show Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum natus harum adipisci, optio quia dolore ducimus.
            li
              .item__image
                i.fas.fa-play
                img(src="https://image.tmdb.org/t/p/w154/fhQoQfejY1hUcwyuLgpBrYs6uFt.jpg", alt="")
              .item__info
                .title__time 45 mins
                .title__show Lorem ipsum dolor, sit amet consectetur adipisicing.
                .description__show Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam illum natus harum adipisci, optio quia dolore ducimus.
    button.close-btn
      i.fas.fa-times