section.popular.row
  .wrapper
    h3.popular__title Populares en Netflix
    .carrousel
      +item("https://images.pexels.com/photos/5713353/pexels-photo-5713353.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=300")
      +item("https://images.pexels.com/photos/3136673/pexels-photo-3136673.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=300")
      +item("https://images.pexels.com/photos/2079234/pexels-photo-2079234.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=300")
      +item("https://images.pexels.com/photos/434090/pexels-photo-434090.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=300")