section.popular.row
  .wrapper
    h3.popular__title Populares en Netflix
    .general-content
      button.left-arrow.left-arrow-popular
        i.fas.fa-chevron-left
      .carousel-content.populars
        .carousel
          +item("https://source.unsplash.com/300x200/?nature,water,tech", 'Lorem, ipsum dolor.')
          +item("https://source.unsplash.com/300x200/?nature,family,tech", 'Lorem ipsum dolor sit.')
          +item("https://source.unsplash.com/300x200/?computer,family,tech", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://source.unsplash.com/300x200/?mac,iphone,keyboard", 'Lorem ipsum dolor sit.')
          +item("https://source.unsplash.com/300x200/?iphone,computer,keyboard", 'Lorem ipsum dolor sit amet.')
          +item("https://source.unsplash.com/300x200/?movie,bed,desktop", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://source.unsplash.com/300x200/?mac,macbook,tasks", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://source.unsplash.com/300x200/?wallet,money,crypto", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://source.unsplash.com/300x200/?door,table,chair", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://source.unsplash.com/300x200/?sad,happy,stress", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://source.unsplash.com/300x200/?sky,ocean,sun", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://source.unsplash.com/300x200/?wood,metal,dust", 'Lorem ipsum dolor sit amet consectetur.')
      button.right-arrow.right-arrow-popular
        i.fas.fa-chevron-right