section.popular.row
  .wrapper
    h3.popular__title Populares en Netflix
    .general-content
      button.left-arrow.left-arrow-popular
        i.fas.fa-chevron-left
      .carousel-content.populars
        .carousel#popular
          +item("https://image.tmdb.org/t/p/w342/fhQoQfejY1hUcwyuLgpBrYs6uFt.jpg", 'TV-G', 'Miniserie', 'HD', 'Suspenso', 'Docuserie', 'Terror')
          +item("https://image.tmdb.org/t/p/w342/c2gsmSQ2Cqv8zosqKOCwRS0GFBS.jpg", 'TV-M', '3 Temporadas', 'SD', 'Drama', 'Docuserie', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/9rsivF4sWfmBzrNr4LPu6TNJhXX.jpg", 'TV-PG', '4 Temporadas', '4K', 'Acción', 'Thrillers', 'De época')
          +item("https://image.tmdb.org/t/p/w342/kve20tXwUZpu4GUX8l6X7Z4jmL6.jpg", 'TV-R', '1 Tempoarada', '4K', 'Suspenso', 'Docuserie', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/uQ538BfYLDJh3GXlzRZLo0j7PFj.jpg", 'TV-14', '2 Temporadas', 'HD', 'TV infantil', 'Aventuras', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/mxsGXqetGnirf99qapYd5MMY1VL.jpg", 'TV-MA', 'Documental', 'HD', 'Suspenso', 'Docuserie', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/AjTtJNumZyUDz33VtMlF1K8JPsE.jpg", 'TV-G', '1 h 50 min', 'SD', 'Suspenso', 'Docuserie', 'Historia')
          +item("https://image.tmdb.org/t/p/w342/qLX91FhHWCVrxDVsw0g2UD5c3Zk.jpg", 'TV-PG', 'Documental', 'SD', 'Comedia', 'Docuserie', 'Zombis')
          +item("https://image.tmdb.org/t/p/w342/6jCBJjVP72swDWFnpGDyN4W39qv.jpg", 'TV-PG', 'Miniserie', 'HD', 'Suspenso', 'Docuserie', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/pBwYsQaSTgnPphIy02DJjCF2cqs.jpg", 'TV-MA', '2 Temporadas', '4K', 'Suspenso', 'Comedia', 'De época')
          +item("https://image.tmdb.org/t/p/w342/6UTzw3kipgTYAJCX8GExoXzcVOx.jpg", 'TV-G', '3 Temporadas', '4K', 'Parodías', 'Docuserie', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/7sfbEnaARXDDhKm0CZ7D7uc2sbo.jpg", 'TV-G', '50 min', 'HD', 'Suspenso', 'Comedia', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/nOd6vjEmzCT0k4VYqsA2hwyi87C.jpg", 'TV-M', '3 Temporadas', 'SD', 'Suspenso', 'Docuserie', 'De época')
          +item("https://image.tmdb.org/t/p/w342/qtAuWLGQ7N4PNQ6boZeqqoUY2l9.jpg", 'TV-14', 'Miniserie', 'SD', 'Comedia', 'Docuserie', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/602vevIURmpDfzbnv5Ubi6wIkQm.jpg", 'TV-Y', '1 Temporada', '4K', 'Suspenso', 'Documentales', 'Social y cultural')
      button.right-arrow.right-arrow-popular
        i.fas.fa-chevron-right