section.popular
  h3.popular__title Populares en Netflix
  .carrousel
    +item("https://images.pexels.com/photos/5713353/pexels-photo-5713353.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=300")
    +item("https://images.pexels.com/photos/5713353/pexels-photo-5713353.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=300")
    +item("https://images.pexels.com/photos/5713353/pexels-photo-5713353.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=300")
    +item("https://images.pexels.com/photos/5713353/pexels-photo-5713353.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=300")