section.trendy.row
  .wrapper
    h3.popular__title Tendencias
    .general-content
      button.left-arrow.left-arrow-trendys
        i.fas.fa-chevron-left
      .carousel-content.trendys
        .carousel
          +item("https://image.tmdb.org/t/p/w342/xGuOF1T3WmPsAcQEQJfnG7Ud9f8.jpg", 'TV-G', 'Miniserie', 'HD', 'Comedia', 'Docuserie', 'Zombis')
          +item("https://image.tmdb.org/t/p/w342/rEm96ib0sPiZBADNKBHKBv5bve9.jpg", 'TV-M', '3 Temporadas', 'SD', 'Suspenso', 'Docuserie', 'De época')
          +item("https://image.tmdb.org/t/p/w342/9yxep7oJdkj3Pla9TD9gKflRApY.jpg", 'TV-PG', '4 Temporadas', '4K', 'Suspenso', 'Docuserie', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/mI2Di7HmskQQ34kz0iau6J1vr70.jpg", 'TV-R', '1 Tempoarada', '4K', 'Docuserie', 'Social y cultural', 'Historia')
          +item("https://image.tmdb.org/t/p/w342/pgqgaUx1cJb5oZQQ5v0tNARCeBp.jpg", 'TV-14', '2 Temporadas', 'HD', 'Suspenso', 'Comedia', 'De época')
          +item("https://image.tmdb.org/t/p/w342/u74DFoZGTcZ8cuHO8nvQkCqXEVP.jpg", 'TV-MA', 'Documental', 'HD', 'Acción', 'Thrillers', 'De época')
          +item("https://image.tmdb.org/t/p/w342/WjQmEWFrOf98nT5aEfUfVYz9N2.jpg", 'TV-PG', 'Documental', 'SD', 'Parodías', 'Docuserie', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/6kbAMLteGO8yyewYau6bJ683sw7.jpg", 'TV-PG', 'Miniserie', 'HD', 'Suspenso', 'Docuserie', 'Terror')
          +item("https://image.tmdb.org/t/p/w342/oBgWY00bEFeZ9N25wWVyuQddbAo.jpg", 'TV-MA', '2 Temporadas', '4K', 'Comedia', 'Social y cultural', "Drama")
          +item("https://image.tmdb.org/t/p/w342/h8Rb9gBr48ODIwYUttZNYeMWeUU.jpg", 'TV-G', '3 Temporadas', '4K', 'Suspenso', 'Docuserie', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/66GUmWpTHgAjyp4aBSXy63PZTiC.jpg", 'TV-G', '50 min', 'HD', 'Suspenso', 'Docuserie', 'De época')
          +item("https://image.tmdb.org/t/p/w342/9tSkNmGt1K5Lgf0L0BTHHYJNz0W.jpg", 'TV-M', '3 Temporadas', 'SD', 'TV infantil', 'Aventuras', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/tnAuB8q5vv7Ax9UAEje5Xi4BXik.jpg", 'TV-14', 'Miniserie', 'SD', 'Comedia', 'Docuserie', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/mrVoyDFiDSqfH4mkoRtccOv2vwh.jpg", 'TV-Y', '1 Temporada', '4K', 'Suspenso', 'Docuserie', 'Social y cultural')
          +item("https://image.tmdb.org/t/p/w342/lPsD10PP4rgUGiGR4CCXA6iY0QQ.jpg", 'TV-G', 'Miniserie', 'HD', 'Suspenso', 'Documentales', 'Social y cultural')
      button.right-arrow.right-arrow-trendys
        i.fas.fa-chevron-right