section.trendy.row
  .wrapper
    h3.popular__title Tendencias
    .general-content
      button#left-arrow.left-arrow
        i.fas.fa-chevron-left
      .carrousel-content
        .carrousel
          +item("https://source.unsplash.com/300x200/?nature,water,tech")
          +item("https://source.unsplash.com/300x200/?nature,family,tech")
          +item("https://source.unsplash.com/300x200/?computer,family,tech")
          +item("https://source.unsplash.com/300x200/?mac,iphone,keyboard")
          +item("https://source.unsplash.com/300x200/?iphone,computer,keyboard")
          +item("https://source.unsplash.com/300x200/?movie,bed,desktop")
          +item("https://source.unsplash.com/300x200/?mac,macbook,tasks")
          +item("https://source.unsplash.com/300x200/?wallet,money,crypto")
          +item("https://source.unsplash.com/300x200/?door,table,chair")
          +item("https://source.unsplash.com/300x200/?sad,happy,stress")
          +item("https://source.unsplash.com/300x200/?sky,ocean,sun")
          +item("https://source.unsplash.com/300x200/?wood,metal,dust")
      button#right-arrow.right-arrow
        i.fas.fa-chevron-right