section.trendy.row
  .wrapper
    h3.popular__title Tendencias
    .general-content
      button.left-arrow.left-arrow-trendys
        i.fas.fa-chevron-left
      .carousel-content.trendys
        .carousel
          +item("https://image.tmdb.org/t/p/w342/xGuOF1T3WmPsAcQEQJfnG7Ud9f8.jpg", 'Lorem, ipsum dolor.')
          +item("https://image.tmdb.org/t/p/w342/rEm96ib0sPiZBADNKBHKBv5bve9.jpg", 'Lorem ipsum dolor sit.')
          +item("https://image.tmdb.org/t/p/w342/9yxep7oJdkj3Pla9TD9gKflRApY.jpg", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://image.tmdb.org/t/p/w342/mI2Di7HmskQQ34kz0iau6J1vr70.jpg", 'Lorem ipsum dolor sit.')
          +item("https://image.tmdb.org/t/p/w342/pgqgaUx1cJb5oZQQ5v0tNARCeBp.jpg", 'Lorem ipsum dolor sit amet.')
          +item("https://image.tmdb.org/t/p/w342/u74DFoZGTcZ8cuHO8nvQkCqXEVP.jpg", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://image.tmdb.org/t/p/w342/WjQmEWFrOf98nT5aEfUfVYz9N2.jpg", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://image.tmdb.org/t/p/w342/6kbAMLteGO8yyewYau6bJ683sw7.jpg", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://image.tmdb.org/t/p/w342/oBgWY00bEFeZ9N25wWVyuQddbAo.jpg", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://image.tmdb.org/t/p/w342/h8Rb9gBr48ODIwYUttZNYeMWeUU.jpg", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://image.tmdb.org/t/p/w342/66GUmWpTHgAjyp4aBSXy63PZTiC.jpg", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://image.tmdb.org/t/p/w342/9tSkNmGt1K5Lgf0L0BTHHYJNz0W.jpg", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://image.tmdb.org/t/p/w342/tnAuB8q5vv7Ax9UAEje5Xi4BXik.jpg", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://image.tmdb.org/t/p/w342/mrVoyDFiDSqfH4mkoRtccOv2vwh.jpg", 'Lorem ipsum dolor sit amet consectetur.')
          +item("https://image.tmdb.org/t/p/w342/lPsD10PP4rgUGiGR4CCXA6iY0QQ.jpg", 'Lorem ipsum dolor sit amet consectetur.')
      button.right-arrow.right-arrow-trendys
        i.fas.fa-chevron-right