footer.footer
    section.footer__social
      ul
        li
          a(href="#")
            i.fab.fa-facebook-square
        li
          a(href="#")
            i.fab.fa-instagram
        li
          a(href="#")
            i.fab.fa-twitter
        li
          a(href="#")
            i.fab.fa-youtube
    section.footer__links
      div
        ul
          li
            a(href="#") Audio y subtitulos
          li
            a(href="#") Audio descriptivo
          li
            a(href="#") Centro de ayuda
          li
            a(href="#") Tarjetas de regalo
          li
            a(href="#") Prensa
          li
            a(href="#") Relaciones con inversionistas
          li
            a(href="#") Empleo
          li
            a(href="#") Términos de uso
          li
            a(href="#") Privacidad
          li
            a(href="#") Avisos legales
          li
            a(href="#") Preferencias de cookies
          li
            a(href="#") Información corporativa
          li
            a(href="#") Contáctanos
    section.footer__copy-right
      button Código de servicio
      p © 1997-2021 Neflitx, Inc.
script(src="")