footer
    section.social
      ul
        li Facebook
        li Instagram
        li Twitter
        li Youtube
    section
      div
        ul
          li Audio y subtitulos
          li Prensa
          li Privacidad
          li Contáctanos
      div
        ul
          li Audio descriptivo
          li Relaciones con inversionistas
          li Avisos legales
      div
        ul
          li Centro de ayuda
          li Empleo
          li Preferencias de cookies
      div
        ul
          li Tarjetas de regalo
          li Términos de uso
          li Información corporativa
    section
      button Código de servicio
      p © 1997-2021 Neflitx, Inc.