footer.footer
    section.footer__social
      ul
        li
          a(href="#")
            i.fab.fa-facebook-square
        li
          a(href="#")
            i.fab.fa-instagram
        li
          a(href="#")
            i.fab.fa-twitter
        li
          a(href="#")
            i.fab.fa-youtube
    section.footer__links
      div
        ul
          li Audio y subtitulos
          li Audio descriptivo
          li Centro de ayuda
          li Tarjetas de regalo
          li Prensa
          li Relaciones con inversionistas
          li Empleo
          li Términos de uso
          li Privacidad
          li Avisos legales
          li Preferencias de cookies
          li Información corporativa
          li Contáctanos
    section
      button Código de servicio
      p © 1997-2021 Neflitx, Inc.
script(src="")