-var name = "Israel Castro"
-var menus = ["Inicio", "Series", "Películas", "Novedades populares", "Mi lista"]
-var myaccount = ["Buscar", "Referidos", "Notificaciones", "Mi cuenta"]

mixin item(img)
  .carrousel__item
    figure
      img(src=img)

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Netflix
    link(rel="stylesheet", href="../css/styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Lato&display=swap")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.2/css/all.css")
  body