-var name = "Israel Castro"
-var menus = ["Inicio", "Series", "Películas", "Novedades populares", "Mi lista"]
-var myaccount = ["Buscar", "Referidos", "Notificaciones", "Mi cuenta"]

mixin item(img)
  .item
    figure
      img(src=img)

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Neftlix
  body