include head.pug
body
  header#navbar.header
    nav.menu
      h1.menu__logo Netflix
      ul.menu__primary
        li
          a(href="#") Inicio
        li
          a(href="#") Series
        li
          a(href="#") Películas
        li
          a(href="#") Novedades polulares
        li
          a(href="#") Mi lista
      ul.menu__secondary
        li.search-box
          i.fas.fa-search.search-box__icon
          input.search-box__input(type="text", placeholder="Título, personas, género")
        li
          a(href="#")
            i.fas.fa-gift
        li
          a(href="#")
            i.fas.fa-bell
            span.badge 7
        li.user
          a(href="#")
            i.fas.fa-smile-wink
            i.fas.fa-sort-down.arrow
  main
    include ./components/hero.pug
    include ./components/popular.pug
    include ./components/continue.pug
    include ./components/trendy.pug
    //- section.again.row
    //-   .wrapper
    //-     h3.again__title Verlo nuevamente
    //- section.originals.row
    //-   .wrapper
    //-     h3.originals__title Originales de Neftlix
    //- section.mylist.row
    //-   .wrapper
    //-     h3.mylist__title Mi lista
  include footer.pug
  script(src="./js/index.js")