include head.pug
body
  header
    nav.menu
      h1.menu__logo Netflix
      ul.menu__primary
        each item in menus
          li=item
      ul.menu__secondary
        each item in myaccount
          li=item
  main
    include ./components/hero.pug
    include ./components/popular.pug
    section.continue
      h3 Continuar viendo contenido de #{name}
    section.trendy
      h3 Tendencias
    section.again
      h3 Verlo nuevamente
    section.originals
      h3 Originales de Neftlix
    section.mylist
      h3 Mi lista
  include footer.pug