include head.pug
body
  header
    nav.menu
      h1.menu__logo Netflix
      ul.menu__primary
        li
          a(href="#") Inicio
        li
          a(href="#") Series
        li
          a(href="#") Películas
        li
          a(href="#") Novedades polulares
        li
          a(href="#") Mi lista
      ul.menu__secondary
        li
          a(href="#")
            i.fas.fa-search
        li
          a(href="#")
            i.fas.fa-gift
        li
          a(href="#")
            i.fas.fa-bell
  main
    include ./components/hero.pug
    include ./components/popular.pug
    section.continue
      h3 Continuar viendo contenido de #{name}
    section.trendy
      h3 Tendencias
    section.again
      h3 Verlo nuevamente
    section.originals
      h3 Originales de Neftlix
    section.mylist
      h3 Mi lista
  include footer.pug