$font: 'Lato', sans-serif;

$brand-color: #e50914;
$primay-color: rgb(20, 20, 20);
$secondary-color: #fff;

$space: 1rem;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font;
  background-color: $primay-color;
  color: #fff;
}

a {
  color: $secondary-color;
}

.row {
  margin: 3vw 0;
}

h3[class$='title'] {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 2;
}
