.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $brand-background;
  display: grid;
  place-items: center;
  transition: 0.3s ease all;
  visibility: hidden;
  z-index: -20;

  &.open-modal {
    visibility: visible;
    z-index: 50;
  }

  & .modal-container {
    position: absolute;
    background-color: $primay-color;
    border-radius: 1rem;
    width: 70vw;
    top: 3rem;
    max-height: calc(100vh - 0px);
    min-width: 900px;
    max-width: 950px;
    overflow-y: auto;

    & .dialog {
      padding-bottom: 5rem;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    & .img {
      height: 450px;
      position: relative;

      img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
      }

      & .overlay__icons {
        position: relative;
        z-index: 10;

        & .icons {
          padding: 2rem 4rem;
          position: absolute;
          bottom: 0;
          width: 100%;
          display: flex;
          align-items: center;
          font-size: 1.6rem;
        }
        & i {
          margin-right: 0.5rem;
          border: 1px solid;
          border-radius: 50%;
          padding: 0.7rem 0.8rem;
        }

        button {
          padding: 0.85rem 2.5rem;
          margin-right: 1rem;
          border-radius: 0.3rem;
          border: 0;
          outline: none;
          font-size: 1.6rem;
          display: flex;
          align-items: center;
          width: 180px;
          justify-content: center;
          cursor: pointer;

          i.fas.fa-play {
            border: 0;
            margin: 0;
          }
        }

        & .fa-volume-mute {
          position: absolute;
          right: 2rem;
        }
      }
    }

    & .modal__item {
      position: relative;
    }

    & .overlay__background {
      display: flex;
      background: linear-gradient(to top, #141414, transparent 50%);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
    }

    & .info,
    .show {
      padding: 2rem 4rem;
    }

    & .info {
      display: grid;
      font-size: 1.6rem;
      gap: 2rem;
      grid-template-columns: 2fr 1fr;
      grid-auto-rows: 1fr 1fr;
      & .clasification {
        border: 1px solid;
        padding: 0.1rem 0.5em;
        margin-right: 1rem;
      }
      & .type {
        margin-right: 1rem;
      }
      & .quality {
        border: 1px solid;
        font-size: 0.75rem;
        color: #999;
        padding: 0.1rem 0.2rem;
      }
      h4 {
        margin: 2rem 0;
      }
      &__tags {
        .tag {
          color: gray;
        }

        p {
          margin-bottom: 1rem;
          line-height: 1.4;
        }
      }
    }

    & .show__seasons {
      display: flex;
      justify-content: flex-end;
      position: absolute;
      right: 4rem;

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        border: 1px solid #999;
        font-size: 1.6rem;
        width: 180px;
        background: $primay-color;
        visibility: hidden;

        &.open-list {
          visibility: visible;
        }

        li {
          button {
            padding: 1rem 2rem;
            width: 100%;
            font-size: 1.6rem;
            background: transparent;
            color: #fff;
            border: 0;
            outline: none;
            cursor: pointer;

            &:hover {
              background-color: #333;
            }
          }
        }
      }
    }

    & .show__title {
      font-size: 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      button {
        padding: 1rem 2rem;
        background: transparent;
        color: #fff;
        border: 1px solid #999;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        width: 180px;
        justify-content: center;
        cursor: pointer;

        i {
          margin-left: 1rem;
        }
      }
    }

    & .show__list {
      & .list__available {
        display: none;
      }

      & .list__selected {
        display: block;
      }

      li {
        display: flex;
        font-size: 1.6rem;
        height: 95px;
        margin-bottom: 1rem;
        padding: 2rem 4rem;
        box-sizing: content-box;
        cursor: pointer;
        border-bottom: 1px solid #333;

        &:hover {
          background-color: #333;
        }

        &:hover > .item__image i {
          visibility: visible !important;
        }

        & .item__image {
          margin-right: 2rem;
          position: relative;

          & i {
            color: #f9f9f9;
            position: absolute;
            top: 50%;
            left: 50%;
            border: 1px solid;
            font-size: 3rem;
            padding: 0.8rem 1.2rem;
            border-radius: 50%;
            transform: translate(-50%, -50%);
            visibility: hidden;
          }

          img {
            width: 180px;
            height: 95px;
            object-fit: cover;
          }
        }

        & .item__info {
          padding: 1rem;
          color: #999;

          & .title__time {
            float: right;
          }

          & .title__show {
            font-weight: 600;
            font-size: 1.8rem;
            margin-bottom: 1rem;
            color: $secondary-color;
          }
        }
      }
    }
  }
  & .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: $primay-color;
    border-radius: 50%;
    padding: 0.1rem 0.54rem;
    border-color: transparent;
    color: $secondary-color;
    cursor: pointer;
  }
}
